* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
  }


[class*="col-"] {
  float: left;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.volverInicio{
    
    padding: 1.2%;
}

.volverInicio a{
    margin-left: 1.5%;
    background-color: rgb(169, 214, 214);
    border: 2px solid black;
    color: black;
    border-radius: 10px;
    padding: 4px;

}


#mensajeBienvenida{
    text-align: center;
    font-size: calc(10px + 6vw);
    
}




.paciente h4{
    text-align: center;
    font-size: calc(10px + 1.2vw);
    
}


.paciente p{
    font-size: calc(8px + 0.8vw);
}

.diasTurnos{
    text-align: center;
    font-size: calc(18px + 2vw);
    margin-top: 4%;
    border-top: 100% solid black;
}

#lunes{
    background-color: #b1eff1;
    margin-top: 4%;
}

#martes{
    background-color: #f1e2b1;
}

#miercoles{
    background-color: #c4b1f1;
}

#jueves{
    background-color: #f1b1b1;
}

#viernes{
    background-color: #ebf1b1;
    margin-bottom: 2%;
}

footer{
    
    background-color: #000;
    color: #fff;
       
}

footer [class*="col-"]{
    margin-top: 2%;
    margin-bottom: 2%;
}

footer .copyrigth{
    text-align: center;
}


footer .informacion, .afiliados{
    line-height: 25px;
}

@media only screen and (max-width: 767px) {
    [class*="col-"], nav, main, footer, article, section {
    width: 100%;
  }
}

