* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
  }


[class*="col-"] {
  float: left;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


h1{
    font-size: calc(10px + 6vw);
    text-align: center;
    background-color: #000;
    color: #fff;
}

.ingresarUsuario{
    font-size: calc(8px + 2vw);
    text-align: center;
    color: #666;
}

.navPrincipal{
    background-color: #eee;
    
}

.boton{
    vertical-align: bottom;
    background-color: rgb(138, 199, 176);
}

.navPrincipal form input, .boton{
    border: 2px black solid;
    border-radius: 10px;
    margin: 4px;
    width: 20%;
    height: 10%;
    margin-top: 2%;
}

img{
    max-width: 30%;
    padding: 0px;
    margin-left: 40%;
    position: sticky;
    
}

.informacionClinica figure img{
    max-width: 60%;
    border: 2px solid black;
    border-radius: 10px;
    
}


.informacionClinica{
    font-size: calc(18px + 1vw);
    color: #000;
    font-style: italic;
    
}

.informacionClinica p{
    font-size: calc(14px + 1vw);
}

button:hover{
    color: black;
    background-color: #aff;
    transition-property: background-color, color, left;
    transition-duration: 1s;
}


.busqueda div h3{
    font-size: calc(18px + 2vw);
    text-align: center;
    background-color: #ccc;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 14%;
    margin-right: 14%;

}


.busqueda{
    background-color: #eee ;
    
}


.busqueda form div{
    font-size: 14px;
    text-align: center;
}



footer{
    background-color: #000;
    color: #fff;
       
}

footer [class*="col-"]{
    margin-top: 2%;
    margin-bottom: 2%;
}

footer .copyrigth{
    text-align: center;
}


footer .informacion, .afiliados{
    line-height: 25px;
}