* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
  }


[class*="col-"] {
  float: left;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

h1{
    font-size: calc(8px + 4vw);
    text-align: center;
    background-color: #44f;
    background: linear-gradient(0.25turn, red,blue, green);
    color: #fff;
    text-shadow: 2px 2px #99f;
    filter: drop-shadow(0 0 3px #000408);
    filter: contrast(0.9);
}
/*main{
    background: linear-gradient(#ccc, #99f, #ccc);
}*/

@keyframes animacion{
    0%{
        background-color: red;
        margin-left: -10%;
    }
    50%{
        background-color: green;
        
    }
    100%{
        background-color: blue;
        margin-left: 99%;
    }
}

.bloque{
    color: transparent;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    animation-name: animacion;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 5s;
    border: 10 px solid black;
    border-radius: 100%;
}
.bloque2{
    color: transparent;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    animation-name: animacion;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 4s;
    
}
.bloque3{
    color: transparent;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    animation-name: animacion;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 3s;
}
.bloque4{
    color: transparent;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    animation-name: animacion;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 2s;
}
.bloque5{
    color: transparent;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    animation-name: animacion;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 1s;
}
.bloque6{
    color: transparent;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    animation-name: animacion;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

header{
    color: red;
}

a{
    font-size: calc(1px + 1vw);
    text-decoration: none;
    color: #666;
    text-align: center;
    
}
a:hover{
    color: red;
}