html{
    font-family: 'Roboto', sans-serif;
    background-color: #d8cad3c7;
    text-align: center;
}


#headerPrincipal h1{
    font-size: 80px;
    margin: 2px;
    padding: 6px;
    display: inline-block;
}

#headerPrincipal figure img{
    width: 80vw;
    
}

#headerPrincipal ul li{
    list-style-type: none;
    text-align: left;
}

#navPrincipal{
    text-align: right;
}


span{
    font-weight: bold;
    text-decoration: underline double;
    font-weight: bolder;
}

main header h2{
font-size: 40px;
}
.peliculas figure img{
    width: 50vw;
}

.peliculas header h3{
    font-size: 30px;
    text-decoration: underline;
}

.peliculas p{
    font-size: 16px;
    color: #000;
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
}



#navSecundario{
    text-align: left;
}



aside{
    text-align: right;
}

#promocion iframe{
    width: 50vw;
    height: 50vh;
    
}