html{
    font-family: 'Roboto', sans-serif;
    background-color: #d8cad3c7;
    text-align: center;
}


html{
    font-family: 'Roboto', sans-serif;
    background-color: #d8cad3c7;
    text-align: center;
}


#headerPrincipal h1{
    font-size: 80px;
    margin: 2px;
    padding: 6px;
    display: inline-block;
}

#headerPrincipal figure img{
    width: 80vw;
    
}

#headerPrincipal ul li{
    list-style-type: none;
    text-align: left;
}

#navPrincipal{
    text-align: right;
}


span{
    font-weight: bold;
    text-decoration: underline double;
    font-weight: bolder;
}


